//
// Common
//-------------------------------------------

.text {
    max-width: 42rem;
    line-height: 1.5;
    word-break: break-word;
    hyphens: none;
    font-size: $font-l;

    div {
      margin-bottom: 1rem;
      &:last-child {
        margin-bottom: 0;
      }
    }  
}