//
// Fonts
//-------------------------------------------

@font-face {
    font-family: 'Source Code Pro';
    src: url('@/fonts/SourceCodePro-Bold.ttf') format('ttf');
    font-weight: bold;
}

@font-face {
    font-family: 'Source Code Pro';
    src: url('@/fonts/SourceCodePro-Regular.ttf') format('ttf');
    font-weight: regular;
}

